<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    
    <link rel="stylesheet" href="./css/index.css">

    <link rel="shortcut icon" href="./img/library.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="./css/record.css">
    <link rel="stylesheet" href="./css/borrowBook.css">
    <title>管理员信息管理</title>
</head>
<body>


    <div class="ui middle inverted segment">
        <div class="ui inverted secondary menu" >
            <h1 class="ui violet inverted header">图书管理系统</h1>
          <div class="right menu">
            <div class="item">
              <div class="item" style="position: relative; left: 40px;">
                <i class="circular small inverted teal user icon"></i>
                </div>
            </div>
            <div class="item">
                <div class="ui big red button" onclick="breakOut()">退出登录</div>
            </div>
          </div>
        </div>
    </div>
    <div class="ui large vertical menu" id="leftMenu">
        <div class="item">
          <div class="header">书籍管理</div>
          <div class="menu">
            <a class="item" href="admin_addBook.html">录入新书</a>
            <a class="item" href="admin_searchBook.html">查询书籍</a>
            <a class="item" href="admin_chart.html">书籍数据分析</a>
          </div>
        </div>
      
        <div class="item">
          <div class="header">借阅信息</div>
          <div class="menu">
            <a class="item" href="admin_allRecord.html">所有借阅记录</a>
          </div>
        </div>
        <div class="item">
            <div class="header">管理员信息管理</div>
            <div class="menu">
              <a class="item" href="admin_adminConfig.html">管理员信息</a>
            </div>
          </div>
<!--        <div class="item">-->
<!--            <div class="header">支持</div>-->
<!--            <div class="menu">-->
<!--              <a class="item" href="admin_Support.html">E-mail Support</a>-->
<!--            </div>-->
<!--          </div>-->
      </div>
      <div class="mine" id="mine">
        <h2 class="ui header" style="position: relative; left: 39%;margin-top: 3%;">管理员信息管理</h2>
        <button class="ui primary button" style="position: relative;left: 85%;"  @click="addAdmin()">新增管理员</button>
        <table class="ui selectable inverted teal table">
            <thead>
              <tr>
              <th>管理员用户名</th>
              <th>密码</th>
              <th>操作</th>
            </tr></thead>
            <tbody>
              
                <tr  v-for ="(book,index) in admins":key="index"  >
                    <td>{{book.adminname}}</td>
                    <td>{{book.password}}</td>
                    <td v-if="judge(book.adminname)"><button class="ui primary button" @click="change(book.adminname,index)">更改信息</button></td>
                    <td v-if="!judge(book.adminname)"><button class="ui disabled red button">无权限</button></td>
                </tr>
            </tbody>
            <tfoot >    
              <tr><th colspan="3">
                   <div  v-cloak class="page">
                          <ul class="pagination">
                              <li>
                                  <a v-if="currentPage == 1" >首页</a>
                                  <a v-else href="javascript:;" @click="next(1)">首页</a>
                              </li>
                              <li v-if="currentPage<=1"><a>上一页</a></li>
                              <li v-else><a href="javascript:;" @click="next(currentPage-1)">上一页</a></li>
                  
                  
                              <li v-for="item in pagingList">
                                  <a v-if="currentPage==item.key || sign ==item.key" >{{item.key}}</a>
                                  <a v-else href="javascript:;" @click="next(item.value)">{{item.key}}</a>
                              </li>
                  
                              <li v-if="currentPage>=totalPageCount"><a>下一页</a></li>
                              <li v-else><a href="javascript:;" @click="next(currentPage+1)">下一页</a></li>
                              <li>
                                  <a v-if="totalPageCount == currentPage">尾页</a>
                                  <a v-else href="javascript:;" @click="next(totalPageCount)">尾页</a>
                              </li>
                          </ul>
                      </div>
                  </th>
            </tr>
            <tr>
              <th colspan="3">
                  <p>当前页为第{{currentPage||0}}页,共{{totalPageCount||0}}页&nbsp;&nbsp;&nbsp;
              </th>
            </tr>
          </tfoot> 
        </table>
        <div class="ui modal" id="addAdmin" style="position: absolute;left: 50%;top: 20%;">
          <i class="close icon"></i>
          <div class="header">
            添加管理员信息
          </div>
      
          <div class="content">  
            <div class="ui labeled input">
              <div class="ui label">
                管理员用户名
              </div>
              <input type="text" placeholder="admin456…" id="addddAdmin">
            </div>
            <div class="ui labeled input">
              <div class="ui label">
                管理员密码
              </div>
              <input type="password" placeholder="password..."  id="addPwd">
            </div>
          </div>
          <div class="actions">
            <div class="ui red deny button">
              取消
            </div>
            <div class="ui positive right labeled icon button">
              确定添加
              <i class="checkmark icon" ></i>
            </div>
          </div>
          </div>
       </div>
       <div class="ui modal" id="changeAdmin" style="position: absolute;left: 50%;top: 20%;">
        <i class="close icon"></i>
        <div class="header">
          修改管理员信息
        </div>
    
        <div class="content">  
          <div class="ui labeled input">
            <div class="ui label">
              管理员新用户名
            </div>
            <input type="text" placeholder="用户名" v-model="newAdmin" id="newAdmin">
          </div>
          <div class="ui labeled input">
            <div class="ui label">
              管理员新密码
            </div>
            <input type="password" placeholder="密码" v-model="newPwd" id="newPwd">
          </div>
        </div>
        <div class="actions">
          <div class="ui red deny button">
            取消
          </div>
          <div class="ui positive right labeled icon button">
            确定修改
            <i class="checkmark icon" ></i>
          </div>
        </div>
        </div>
      </div>
      </div>
      <div class="ui inverted segment" id="bottoms">
        <p>Library System</p>
      </div>
      <div class="ui modal" id="break">
        <i class="close icon"></i>
        <div class="header">
          确定退出
        </div>
        
        <div class="actions">
            <div class="ui red deny button">
              取消
            </div>
            <div class="ui positive right labeled icon button">
              确定
              <i class="checkmark icon"></i>
            </div>
        </div>
     </div>
    <div class="ui modal"  id="breakSuccess" style="position: absolute;left: 70%;width: 30%;">
        <div class="ui icon header">
            <i class="green large arrow circle right icon"></i>
            退出成功
        </div>
  </div>
</body>
<script>

    var app = new Vue({
        el: '#mine',
        data: {


            admins:[],
            sign:'...',
              // 省略号位置
            signIndex:4,
              // 总页数
            totalPageCount: 3,
            // 当前页
            currentPage:1,
              // 显示在页面的数组列表
            pagingList:[],
  
            button: true,

            newAdmin:'',

            newPwd:'',

            oldAdmin:''
        },
        watch: {
              totalPageCount (val) {
                  var that = this
                  if (!val || val == '') return;
                  that.currentPage = 1;
                  that.init()
              },
              currentPage (val) {
                  var that = this
                  that.init()
              }
        },
        methods:{
          addAdmin(){
            $('#addAdmin')
            .modal('show')
            .modal({
            onApprove : function() {
              $.ajax({
                    type: 'POST',
                    url: '/addAdmin',
                    data: {
                        addAdmin:$("#addddAdmin").val(),
                        addPwd:$("#addPwd").val(),
                    },
                    success:function (data) {
                      if(data == "success"){
                          console.log("-----------------------")
                          console.log($("#addAdmin").val())
                          alert("您已成功添加！");
                          location.reload();
                      }
                    }
                })
            }
          })
          },
          change(adminname,index){
            $('#changeAdmin')
            .modal('show')
            .modal({
            onApprove : function() {
              $.ajax({
                    type: 'POST',
                    url: '/updateAdmin',
                    data: {
                        newAdmin:$("#newAdmin").val(),
                        newPwd:$("#newPwd").val(),
                        oldAdmin:$.cookie('adminname'),
                    },
                    success:function (data) {
                      if(data == "success"){
                          var now = new Date();
                          now.setTime(now.getTime() + 5 * 60 * 1000);
                          $.removeCookie('adminname');
                          $.cookie('adminname',$("#newAdmin").val(), { expires: now });

                          alert("修改成功");
                          location.reload();
                        }else{
                            alert("修改失败")
                        }
                    }
                })
            }
          })
        },

          judge(adminname){
            if(adminname == $.cookie('adminname')){
                return true;
            }else{
                return false;
            } 
          },
          next (num) {
                  var that = this
                  if (num <= 1) that.currentPage = 1;
                  else if (num >= that.totalPageCount) that.currentPage = that.totalPageCount;
                  else that.currentPage = num;
  
                  axios({
                        method:"post",
                        url:"/listAdmin",
                        withCredentials:true,
                        params: {
                            currentPage: this.currentPage
                        }
                    }).then((res)=>{
                      console.log(res.data)
                      this.totalPageCount = res.data.totalpage[0];
                      this.admins = res.data.admin;
                    }).catch(err => {
                        console.log('error');
                    });
              },
            // 初始化数据
            fetchData () {
                  var that = this
  
                  that.pagingList = [];
                  var tmp = null;
  
                  
                  if ((that.totalPageCount) > 6) {
                      if (((that.totalPageCount-1) == (that.totalPageCount - that.currentPage)) && (that.totalPageCount - that.currentPage) > 5) {
                          for (var i=1;i<7;i++) {
                              if (i < that.signIndex) {
                                  tmp = {key:i, value:i }
                              } else if (i== that.signIndex) {
                                  tmp = {key:that.sign, value:0 }
                              } else if (i == (that.signIndex + 1) ) {
                                  tmp = {key:that.totalPageCount - 1, value:that.totalPageCount - 1 }
                              } else {
                                  tmp = {key:that.totalPageCount, value:that.totalPageCount }
                              }
                              that.pagingList.push(tmp)
                          }
                      } else if (((that.totalPageCount - that.currentPage) <= that.signIndex)){
                          var starNum = that.totalPageCount - 5;
                          for (var i=starNum;i<starNum+6;i++) {
                              tmp = {key:i, value:i }
                              that.pagingList.push(tmp)
                          }
                      } else {
                          var starNum = that.currentPage - 1;
                          for (var i=1;i<7;i++) {
                              if (i < that.signIndex) {
                                  tmp = {key:(starNum - 1) + i, value:(starNum - 1) + i }
                              } else if (i== that.signIndex) {
                                  tmp = {key:that.sign, value:0 }
                              } else if (i == (that.signIndex + 1) ) {
                                  tmp = {key:that.totalPageCount - 1, value:that.totalPageCount - 1 }
                              } else {
                                  tmp = {key:that.totalPageCount, value:that.totalPageCount }
                              }
                              that.pagingList.push(tmp)
                          }
                      }
                  } else {
                      for (var i =0; i <that.totalPageCount; i++) {
                          tmp = {key:i+1, value:i+1 }
                          that.pagingList.push(tmp)
                      }
                  }
              },
              init () {
                  var that = this
  
                  that.fetchData()
              }
        },
        mounted () {
              var that = this
  
              that.init()
        },
        created: function (){
            axios({
                method:"post",
                url:"/listAdmin",
                withCredentials:true,
                params: {
                    currentPage: this.currentPage
                }
            }).then((res)=>{
              this.totalPageCount = res.data.totalpage[0];
              this.admins = res.data.admin;
              
            }).catch(err => {
                console.log('error');
            });
        }
    })
  </script> 
  <script>
    function breakOut(){
      $('#break').modal('show')
      .modal({
            onApprove : function() {
                   $('#breakSuccess').modal('show')
                    setTimeout(function(){
                      window.location.href = "login.html" 
                    }, 1500);
        
             }
       })
    }
  </script>
</html>