<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script src="./js/user_search.js"></script>
    <link rel="shortcut icon" href="./img/library.ico" />
    <link rel="stylesheet" href="./css/borrowBook.css">
    <script src="./js/borrowBook.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <title>书籍查询</title>
</head>

<body>


<div class="ui middle inverted segment">
    <div class="ui inverted secondary menu">
        <h1 class="ui violet inverted header">图书管理系统</h1>
        <div class="right menu">
            <div class="item">
                <div class="item" style="position: relative; left: 40px;">
                    <i class="circular small inverted teal user icon"></i>
                    </div>
            </div>
            <div class="item">
                <div class="ui big red button" onclick="breakOut()">退出登录</div>
            </div>
        </div>
    </div>
</div>


<div class="ui large vertical menu" id="leftMenu">
    <div class="item">
        <div class="header">借阅管理</div>
        <div class="menu">
            <a class="item" href="record.html">借阅记录</a>
            <a class="item" href="borrowBook.html">借阅书籍</a>
        </div>
    </div>
    <div class="item">
        <div class="header">书籍管理</div>
        <div class="menu">
            <a class="item" href="return.html">归还书籍</a>
            <a class="item" href="searchBook.html">查询书籍</a>
            <a class="item" href="chart.html">书籍数据分析</a>
        </div>
    </div>
    <div class="item">
        <div class="header">个人信息管理</div>
        <div class="menu">
            <a class="item" href="personalInformation.html">用户信息管理</a>
        </div>
    </div>
<!--    <div class="item">-->
<!--        <div class="header">支持</div>-->
<!--        <div class="menu">-->
<!--            <a class="item" href="Support.html">E-mail Support</a>-->
<!--        </div>-->
<!--    </div>-->
</div>
<div class="mine" id="mine">
    <select name="gender" class="ui dropdown" id="select" v-model="select">
        <option value="0">书籍名称</option>
        <option value="1">书籍号码</option>
        <option value="2">书籍种类</option>
    </select>
    <div class="ui icon input"  id="searchbook">
        <input type="text" placeholder="搜索..." id="book" v-model="book"  @keyup.enter="searchbook($event)">
        <i class="inverted circular search link icon"></i>
    </div>
    <button class="ui middle green  button" id="search" @click=searchbook($event)>搜索</button>
    <table class="ui selectable inverted blue table" id="result">
        <thead>
          <tr><th>图书号码</th>
            <th>图书名</th>
            <th>出版社</th>
            <th>作者</th>
            <th>种类</th>
            <th>图书详情</th>
        </tr></thead>
        <tbody>
            <tr v-if='isRecord'>
                <th colspan="6" style="text-align: center;height:50px;font-size: 25px;color: rgb(0, 255, 115);line-height: 50px;" >请搜索</th>
              </tr>
            <tr  v-for ="(book,index) in books":key="index">
                <td>{{book.book_id}}</td>
                <td>{{book.book_name}}</td>
                <td>{{book.book_publish}}</td>
                <td>{{book.book_author}}</td>
                <td>{{book.book_category}}</td>
                <td align="center">
                <a class="ui orange label" :href="'https://www.baidu.com/s?wd=' + book.book_name" target="_blank">
                    <i class="book icon"></i> 
                    图书详情
                </a>
            </td>
            </tr>
        </tbody>
        <tfoot v-if='record'>    
          <tr><th colspan="6">
               <div  v-cloak class="page">
                      <ul class="pagination">
                          <li>
                              <a v-if="currentPage == 1" >首页</a>
                              <a v-else href="javascript:;" @click="next(1)">首页</a>
                          </li>
                          <li v-if="currentPage<=1"><a>上一页</a></li>
                          <li v-else><a href="javascript:;" @click="next(currentPage-1)">上一页</a></li>
              
              
                          <li v-for="item in pagingList">
                              <a v-if="currentPage==item.key || sign ==item.key" >{{item.key}}</a>
                              <a v-else href="javascript:;" @click="next(item.value)">{{item.key}}</a>
                          </li>
              
                          <li v-if="currentPage>=totalPageCount"><a>下一页</a></li>
                          <li v-else><a href="javascript:;" @click="next(currentPage+1)">下一页</a></li>
                          <li>
                              <a v-if="totalPageCount == currentPage">尾页</a>
                              <a v-else href="javascript:;" @click="next(totalPageCount)">尾页</a>
                          </li>
                      </ul>
                  </div>
              </th>
        </tr>
        <tr>
          <th colspan="6">
              <p>当前页为第{{currentPage||0}}页,共{{totalPageCount||0}}页&nbsp;&nbsp;&nbsp;
          </th>
        </tr>
      </tfoot> 
    </table>

    
    
</div>

<div class="ui basic modal"  id="nosearch">
    <div class="ui icon header">
        <i class="red large x icon"></i>
        错误
    </div>
    <div class="content">
        <p>未有相关匹配信息，请重新搜索！</p>
    </div>
    <div class="actions">
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            确定
        </div>
    </div>
</div>

<div class="ui inverted segment" id="bottoms">
    <p>Library System</p>
</div>
<div class="ui modal" id="break">
    <i class="close icon"></i>
    <div class="header">
      确定退出
    </div>
    
    <div class="actions">
        <div class="ui red deny button">
          取消
        </div>
        <div class="ui positive right labeled icon button">
          确定
          <i class="checkmark icon"></i>
        </div>
    </div>
 </div>
<div class="ui modal"  id="breakSuccess" style="position: absolute;left: 70%;width: 30%;">
    <div class="ui icon header">
        <i class="green large arrow circle right icon"></i>
        退出成功
    </div>
</div>
</body>

<script>

    var app = new Vue({
        el: '#mine',
        data: {
            select: 0,

            books:[],
            sign:'...',
              // 省略号位置
            signIndex:4,
              // 总页数
            totalPageCount: 4,
            // 当前页
            currentPage:1,
              // 显示在页面的数组列表
            pagingList:[],
            isRecord: true,
            book:'',
            record: false,
        },
        watch: {
              totalPageCount (val) {
                  var that = this
                  if (!val || val == '') return;
                  that.currentPage = 1;
                  that.init()
              },
              currentPage (val) {
                  var that = this
                  that.init()
              }
        },
        methods:{
            searchbook: function(event){
                axios({
                        method:"post",
                        url:"/listbook",
                        withCredentials:true,
                        params: {
                            select: this.select,
                            currentPage:this.currentPage,
                            book: this.book
                        }
                    }).then((res)=>{
                        if(res.data.books.length == 0){
                            $("#nosearch").modal('show');
                        }else{
                            this.isRecord = false;
                            this.record = true;
                            this.books = res.data.books;
                            this.totalPageCount = res.data.totalpage[0];
                        }
                        
                    }).catch(err => {
                        console.log('error');
                    });
            }
            ,
              next (num) {
                  var that = this
                  if (num <= 1) that.currentPage = 1;
                  else if (num >= that.totalPageCount) that.currentPage = that.totalPageCount;
                  else that.currentPage = num;
                  axios({
                        method:"post",
                        url:"/listbook",
                        withCredentials:true,
                        params: {
                            select: this.select,
                            currentPage:this.currentPage,
                            book: this.book
                        }
                    }).then((res)=>{
                        if(res.data.books.length == 0){
                            $("#nosearch").modal('show');
                        }else{
                            this.isRecord = false;
                            this.record = true;
                            this.books = res.data.books;
                            this.totalPageCount = res.data.totalpage[0];
                        }
                        
                    }).catch(err => {
                        console.log('error');
                    });
              },
            // 初始化数据
            fetchData () {
                  var that = this

                  that.pagingList = [];
                  var tmp = null;

                  
                  if ((that.totalPageCount) > 6) {
                      if (((that.totalPageCount-1) == (that.totalPageCount - that.currentPage)) && (that.totalPageCount - that.currentPage) > 5) {
                          for (var i=1;i<7;i++) {
                              if (i < that.signIndex) {
                                  tmp = {key:i, value:i }
                              } else if (i== that.signIndex) {
                                  tmp = {key:that.sign, value:0 }
                              } else if (i == (that.signIndex + 1) ) {
                                  tmp = {key:that.totalPageCount - 1, value:that.totalPageCount - 1 }
                              } else {
                                  tmp = {key:that.totalPageCount, value:that.totalPageCount }
                              }
                              that.pagingList.push(tmp)
                          }
                      } else if (((that.totalPageCount - that.currentPage) <= that.signIndex)){
                          var starNum = that.totalPageCount - 5;
                          for (var i=starNum;i<starNum+6;i++) {
                              tmp = {key:i, value:i }
                              that.pagingList.push(tmp)
                          }
                      } else {
                          var starNum = that.currentPage - 1;
                          for (var i=1;i<7;i++) {
                              if (i < that.signIndex) {
                                  tmp = {key:(starNum - 1) + i, value:(starNum - 1) + i }
                              } else if (i== that.signIndex) {
                                  tmp = {key:that.sign, value:0 }
                              } else if (i == (that.signIndex + 1) ) {
                                  tmp = {key:that.totalPageCount - 1, value:that.totalPageCount - 1 }
                              } else {
                                  tmp = {key:that.totalPageCount, value:that.totalPageCount }
                              }
                              that.pagingList.push(tmp)
                          }
                      }
                  } else {
                      for (var i =0; i <that.totalPageCount; i++) {
                          tmp = {key:i+1, value:i+1 }
                          that.pagingList.push(tmp)
                      }
                  }
              },
              init () {
                  var that = this

                  that.fetchData()
              }
        },
        mounted () {
              var that = this

              that.init()
        },
        
    })
</script>
<script>
    function breakOut(){
    $('#break').modal('show')
    .modal({
          onApprove : function() {
                 $('#breakSuccess').modal('show')
                  setTimeout(function(){
                    window.location.href = "login.html" 
                  }, 1500);
      
           }
     })
  }
</script>
</html>